@using PresShare.DataModel.Lib

<div class="parent-press ">
    @if (presses == null)
    {
        <p>Loading...</p>
    }
    else
    {
        @foreach (var press in presses)
        {
            <div class="press @press.genre.ToLower() ">
                <b> @press.title </b>
                <br><small>@press.created_at.ToShortDateString()</small>
                <a class="genre" href="press/@press.genre.ToLower()s">@press.genre.ToLower()</a>
                @if (press.genre == "Link")
                {
                    <p>
                    <a href="@press.content.Replace("\n", "<br>")">@press.content.Replace("\n", "<br>")</a>
                    </p>
                }
                else
                {
                    <p>  @press.content.Replace("\n", "<br>")</p>
                    
                }
    </div>
;
        }
    }
</div> 
@code {
    [Parameter]
    public IEnumerable<PressModel>? presses { get; set; }        
    
}